/*#439996*/
*{
  box-sizing: border-box;
  font-family: arial;
}
html{
  background: #dcdcdc;
}
.clear{
  clear: both;
}
.wrap{
  max-width: 600px;
  margin: auto;
  background: #fff;
}
.header{
  padding: 20px 40px;
  width: 100%;
  margin: auto;
}
.logo_num{
  width: 100%;
  display: block;
  padding: 10px;
}
.logo{
  width: 50%;
  display: inline-block;
  font-family: arial;
  color:#333333;

}
.number{
  width: 50%;
  display: inline-block;
  font-family: arial;
  color:#333333;
  text-align: right;
  font-size: 17px;
}
.h-header{
  width: 100%;
  display: block;
}
.text{
  width: 50%;
  display: inline-block;
  float: left;
}
.text_title{
  width: 100%;
  color:#439996;
  font-size: 20px;
  font-family: arial;
}
.text_description{
  color:#333333;
  font-family: arial;
  font-size: 17px;
}
.h-container img{
  display: inline-block;
  width: 50%;
  float: right;
}
.content{
  padding: 20px 40px;
  width: 100%;
  background: #00c7b8;
}
.c-title{
  color:#fff;
  font-size: 23px;
  font-family: arial;
  text-align: center;
}
.c-block{
  width: 30%;
  padding-top: 10px;
  display: inline-block;
  margin: 20px 1.5%;
  background: #fff;
  border-radius: 27px;
  float: left;
}
.c-block img{
  display: block;
  margin: auto;
  max-width: 90%;
}
.c-text{
  padding: 0 10px;
  color:#757575;
  height: 115px;
  font-size: 12px;
  font-family: arial;
}
.block-title{
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.price{
  background: #ff7259;
  color:#fff;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-family: arial;
  padding: 8px 14px;
  margin-bottom: 0;
  border-radius: 27px;
}
.content-btn{
  width: 80%;
  background: #fff;
  color:#00c7b8;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
  text-align: center;
  text-decoration: none;
}
.our-works{
  display: block;
  background: #fff;
  padding: 20px 40px;
}
.our-works img{
  max-width: 100%;
}
.ow-title{
  color:#00c7b8;
  font-size: 23px;
  font-family: arial;
  text-align: center;
}
.ow-block{
  width: 30%;
  margin: 1.5%;
  display: inline-block;
  float: left;
}
.ow-block-title{
  color:#939393;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
.see_more{
  width: 50%;
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px auto;
  background: #ff7259;
  color:#fff;
  text-align: center;
  text-decoration: none;

}
.start{
  width: 100%;
  background: #63c6b7;
  padding: 20px 40px;
}
.start img{
  width: 50%;
  display: block;
  float: right;
}
.start_cont{
  width: 50%;
  display: inline-block;
  float: left;
}
.cont-title{
  color:#fff;
  font-size: 18px;
}
.cont-text{
  color:#fff;
}
.f-more{
  width: 80%;
}
